{% extends 'base/barra.html' %}

<html>
<title>{% block title %} Quienes Somos  {% endblock %}</title>
{% block content %}
<body>
<h5><center>
<h3>CDINTE Centro de Innovación Tecnológica</h3> <BR>
Se dedica a la consultoría e ingeniería tecnológica en telecomunicaciones,en informática y en sistemas<BR> 
de información, así como el asesoramiento,comercialización,implementación y mantenimiento de proyectos<BR> 
de innovación tecnológica.<BR></center>
<BR><h3>Misión</h3><BR>
Somos una empresa que trabaja con pasión y ofrecemos soluciones innovadoras,<BR> 
con el objetivo de mejorar la competitividad y productividad de nuestros clientes.<BR> 
<BR><h3> Visión</h3><BR> 
Ser una empresa líder en innovación, generadora de empleos y talentos, que<BR> 
fomente la creatividad y participe activamente en el desarrollo económico y social,<BR> 
a nivel local, nacional e internacional.
</h5>
</body>
</html>
{% endblock %}
